*{
  margin:0;
  padding: 0;
}

body{
  background-color: #ededed;
}

a{
  text-decoration: none;
  color:#000;

}
/*-----------------------
----------FONTES---------
------------------------*/

@font-face {
  font-family: HKConcentrate-Regular;
  src:url(assets/HKConcentrate-Regular.woff);
}

@font-face {
  font-family: HKConcentrate-Bold;
  src:url(assets/HKConcentrate-Bold.woff);
}

@font-face {
  font-family: HKZercon-Regular;
  src:url(assets/HKZercon-Regular.woff);
}

.title-detail{
  font-family: 'HKConcentrate-Regular', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.text-detail{
  font-family: 'HKConcentrate-Regular', 'Helvetica', sans-serif;
}

.text-detail__bold{
  font-family: 'HKConcentrate-Bold', 'Helvetica', sans-serif;
}

.text-principal{
  font-family:'HKZercon-Regular','Roboto Mono',sans-serif;
}

.caps{
  text-transform: uppercase;
}

/*-----------------------
----------GRELHA---------
------------------------*/
.grid{
  display: grid;
  grid-template-columns: 1fr 40vw 40vw 1fr;
  /*se quiser um espaco em branco ponho .*/
  grid-template-areas:
  '. navbar navbar .'
  '. bio bio .'
  '. footer social .'
  '. projects go-to .';
  grid-gap:30px;
  /*grid-gap:10px
  cria um espaco de 10px entre todas as rows e columns*/
}

.grid-about{
  display: grid;
  grid-template-columns: 1fr 40vw 40vw 1fr;
  grid-template-areas:
  '. navbar navbar .'
  '. title-about . .'
  '. about photo .'
  '. curriculum curriculum .'
  '. skills skills .'
  '. learn go-to . ';
  grid-gap:30px;
}

.grid-project{
  display: grid;
  grid-template-columns: 1fr 40vw 40vw 1fr;
  grid-template-areas:
  '. navbar navbar .'
  '. title-stereo . .'
  '. stereo photo-principal .'
  '. photo-left photo-right .'
  '. go-to go-to .';
  grid-gap:30px;
}


/*-----------------------
----------NAVBAR---------
------------------------*/

.navbar{
  /*vai da 1 a 3 ocupa toda a largura*/
  /*pode ser tambem:*/
  /*grid-column-end: span 2;
  ou grid-column-start:1;
  grid-column-end:3;*/
  /*grid-column: 1 / 3;*/
  grid-area:navbar;
  justify-self: end;

}

/*padding: top right bottom left;*/
.navbar-content{
  list-style-type: none;
  display: block;
  padding: 20px 0 0 0;

}

.navbar a:hover{
  color:#3242D5;
  cursor:pointer;
}

li{
  display: inline;
}

/*-----------------------
----------BIO------------
------------------------*/

.bio{
  grid-area:bio;
  font-size: 60px;
  line-height: 80px;
}

.animated-text{
  display: inline-block;
	color: #000;
	transition: color 250ms;/*text-shadow 250ms;*/
	text-decoration: none;
	/*text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);*/
  position: relative;
	z-index: 0;
}

.animated-text::after{
  position: absolute;
  z-index: -1;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	width: 100%;
	height: 3px;
	background-color: #000;
  padding: 0 10px;
	transition: all 250ms;
}

.animated-text:hover{
  color: #B1B3E8;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);*/
}

.animated-text:hover::after{
  height: 100%;
	width: 100%;
}

.animated-function{
  color:#3242D5;
}
/*-----------------------
----------FOOTER---------
------------------------*/

.footer{
  grid-area:footer;
  line-height: 22px;
}

.footer-content{
  padding-top: 10px;
}
/*-----------------------
--------SOCIAL-----------
------------------------*/
.social{
  grid-area:social;
  line-height: 28px;
}

.social_links{
  padding-top: 10px;
}

.social_links li a{
  display: block;
  letter-spacing: 2px;

}

.social_links li a:hover{
  color:#3242D5;
}

/*-----------------------
--------PROJECTS---------
------------------------*/

.projects{
  grid-area:projects;
  padding-top: 20px;
  padding-bottom: 30px;
}

.projects_list{
  padding-top: 20px;
}
.projects_list li{
  display: block;
  line-height: 40px;
  font-size:20px;
}

.projects_list li a:hover{
  color:#3242D5;
}

.go-to{
  grid-area: go-to;
  justify-self:end;
  align-self: end;
  padding-bottom: 30px;
  color: #000;
}

.go-to{
  font-size: 30px;
}

.go-to h1:hover{
  color: #B1B3E8;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);*/
}

/*-----------------------
--------ABOUT------------
------------------------*/
.title-about{
  grid-area:title-about;
}

.about{
  grid-area: about;
  font-size: 18px;
}

.about p{
  padding: 10px 10px 10px 0;
}

.photo{
  grid-area: photo;
  justify-self:center;
}

.photo img{
  width:90%;
  height: auto;
}

.curriculum{
  grid-area: curriculum;
  line-height: 30px;
}

.curriculum p{
  padding-top: 25px;
}

.skills{
  grid-area: skills;
  display: block;
  line-height: 30px;
}
.skills h1{
  padding-top: 10px;
}
.skills p{
  padding-top: 25px;
}

.learn{
  grid-area: learn;
  display: block;
  line-height: 30px;
  padding-bottom: 30px;
}

.learn h1{
  padding-top: 10px;
}

.learn p{
  padding-top: 25px;
}

.talk{
  grid-area: talk;
  justify-self:center;
  font-size: 40px;
  color: #B1B3E8;
  padding-bottom: 30px;
}

.talk-moving_zone{
  position: relative;
  width:500px;
  height:200px;
  perspective: 800px;
  padding-top: 10px;
}

.talk-popup{
  position: absolute;
   width:300px;
   padding-left:30px;
   transform-style: preserve-3d;
}

.talk-popup:before {
    content: '';
    position: absolute;
    left:5%;
    top:5%;
    width:90%;
    height:90%;
    border-radius: inherit;
    transform: translateZ(-100px);
}

.popup-text{
    text-align: center;
    transform: translateZ(15px);
}

/*-----------------------
--------STEREO-----------
------------------------*/
.title-stereo{
  grid-area: title-stereo;
}

.stereo{
  grid-area: stereo;

}
.photo-principal_stereo{
  background: url("assets/stereo1.png");
}
.photo-principal_ciclo{
  background: url("assets/ciclo1.png");
}

.photo-principal_babel{
  background: url("assets/babel3.png");
}
.photo-principal_green{
  background: url("assets/greenday_principal.png");
}
.photo-principal{
  grid-area: photo-principal;
  justify-self:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}
.photo-left_stereo{
  background: url("assets/stereo3.png");
}
.photo-left_ciclo{
  background: url("assets/ciclo2.png");
}

.photo-left_babel{
  background: url("assets/babel7.png");
}

.photo-left_green{
  background: url("assets/greenday_left.png");
}


.photo-left{
  grid-area: photo-left;
  justify-self:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.photo-right_stereo{
  background: url("assets/stereo2.png");
}
.photo-right_ciclo{
  background: url("assets/ciclo3.jpg");
  background-position: right top;
}

.photo-right_babel{
  background: url("assets/babel2.png");
}
.photo-right_green{
  background: url("assets/greenday_right.png");
}

.photo-right{
  grid-area: photo-right;
  justify-self:end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.photo-right img{
  width:70%;
  height: auto;

}

.behance_link{
  padding-top: 40px;
  color:#3242D5;
}


/*-----------------------
---------ATOMS-----------
------------------------*/

.hidden-md{
  display: block;
}
/* 1026 a 1114*/
.hidden-one{
  visibility:hidden;
}
/*-----------------------
--------RESPONSIVE-------
------------------------*/

@media only screen and (max-width: 1100px) {
  .grid{
    grid-template-columns: 1fr 10fr 10fr 1fr;
  }

  /*.hidden-md{
    display: none;
  }*/

  .hidden-lg{
    visibility: visible;
  }
}

@media only screen and(min-width:1026px){
  .bio{
    font-size: 80px;
  }
}

@media  only screen and (min-width: 1026px ) and (max-width: 1114px){
  .hidden-one{
    visibility: visible;
  }

}

@media only screen and (min-width: 600px) and (max-width: 1025px){
  .bio{
    font-size:50px;
  }
}

@media only screen and (max-width: 600px) {

  .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'navbar'
    'bio'
    'footer'
    'social'
    'projects'
    'go-to';
    grid-gap:40px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .grid-about{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'navbar'
    'title-about'
    'about'
    'photo'
    'curriculum'
    'skills'
    'learn'
    'go-to';
    grid-gap:40px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .grid-project{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'navbar'
    'title-stereo'
    'stereo'
    'photo-principal'
    'photo-left'
    'photo-right'
    'go-to';
    grid-gap:40px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .navbar{
    justify-self: center;
  }

  .bio{
    font-size:33px;
    line-height: 50px;
  }

  .about{
    font-size: 16px;
  }

  .go-to{
    justify-self:center;
  }

  .curriculum{
    font-size:16px;
  }






}
