*{
  margin:0;
  padding: 0;
}

/*-----------------------
----------FONTES---------
------------------------*/

@font-face {
  font-family: HKConcentrate-Regular;
  src:url(assets/HKConcentrate-Regular.woff);
}

@font-face {
  font-family: HKConcentrate-Bold;
  src:url(assets/HKConcentrate-Bold.woff);
}

@font-face {
  font-family: HKZercon-Regular;
  src:url(assets/HKZercon-Regular.woff);
}

.title-detail{
  font-family: 'HKConcentrate-Regular', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.text-detail{
  font-family: 'HKConcentrate-Regular', 'Helvetica', sans-serif;
}

.text-principal{
  font-family:'HKZercon-Regular','Roboto Mono',sans-serif;
}

/*-----------------------
----------GRELHA---------
------------------------*/
.grid{
  display: grid;
  grid-template-columns: 1fr 40vw 40vw 1fr;
  /*se quiser um espaco em branco ponho .*/
  grid-template-areas:
  '. navbar navbar .'
  '. bio bio .'
  '. footer social .';
  grid-gap:20px;
  /*grid-gap:10px
  cria um espaco de 10px entre todas as rows e columns*/
}

.grid-about{
  display: grid;
  grid-template-columns: 1fr 40vw 40vw 1fr;
  grid-template-areas:
  '. navbar navbar .'
  '. title-about . .'
  '. about photo .'
  '. curriculum curriculum .';
  grid-gap:20px;
}

/*-----------------------
----------NAVBAR---------
------------------------*/

.navbar{
  /*vai da 1 a 3 ocupa toda a largura*/
  /*pode ser tambem:*/
  /*grid-column-end: span 2;
  ou grid-column-start:1;
  grid-column-end:3;*/
  /*grid-column: 1 / 3;*/
  grid-area:navbar;
  justify-self: end;

}

/*padding: top right bottom left;*/
.navbar-content{
  list-style-type: none;
  display: block;
  padding: 20px 0 0 0;

}

li{
  display: inline;
}

/*-----------------------
----------BIO------------
------------------------*/

.bio{
  grid-area:bio;
  font-size: 60px;
  line-height: 80px;
}

.animated-text{
  display: inline-block;
	color: #343434;
	transition: color 250ms, text-shadow 250ms;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  position: relative;
		z-index: 0;
}

.animated-text::after{
  position: absolute;
  z-index: -1;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	width: 100%;
	height: 3px;
	background-color: #343434;
	transition: all 250ms;
}

.animated-text:hover{
  color: white;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.animated-text:hover::after{
  height: 105%;
	width: 105%;
}
/*-----------------------
----------FOOTER---------
------------------------*/

.footer{
  grid-area:footer;
  line-height: 22px;
}

.footer-content{
  padding-top: 10px;
}
/*-----------------------
--------SOCIAL-----------
------------------------*/
.social{
  grid-area:social;
  line-height: 28px;
}

.social_links{
  padding-top: 10px;
}

.social_links li a{
  display: block;
  word-spacing: 30px;

}


/*-----------------------
--------ABOUT------------
------------------------*/
.title-about{
  grid-area:title-about;
}

.about{
  grid-area: about;
}

.photo{
  grid-area: photo;
}

.curriculum{
  grid-area: curriculum;
}
/*-----------------------
---------ATOMS-----------
------------------------*/

.hidden-md{
  display: block;
}

/*-----------------------
--------RESPONSIVE-------
------------------------*/

@media only screen and (max-width: 1100px) {
  .grid{
    grid-template-columns: 1fr 10fr 10fr 1fr;
  }

  .hidden-md{
    display: none;
  }
}

@media only screen and (max-width: 600px) {

  .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'navbar'
    'bio'
    'footer'
    'social';
    grid-gap:40px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .navbar{
    justify-self: center;
  }

  .bio{
    font-size:33px;
    line-height: 50px;
  }

}

.grid div:nth-child(even){
  /*background-color: aqua;*/
}

.grid div:nth-child(odd){
  background-color: green;
}
